name = "AstrodynamicalSolvers"
uuid = "636ee813-9c9e-4a0a-af07-88b3043dcb77"
authors = ["Joey Carpinelli <joey@loopy.codes>"]
version = "0.1.0"

[deps]
AstrodynamicalCalculations = "c0cf9fb7-f496-4999-a425-c50785d1b88b"
AstrodynamicalModels = "4282b555-f590-4262-b575-3e516e1493a7"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
OrdinaryDiffEq = "1dea7af3-3e70-54e6-95c3-0bf5283fa5ed"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"

[compat]
AstrodynamicalCalculations = "0.2"
AstrodynamicalModels = "2"
DocStringExtensions = "^0.9"
ModelingToolkit = "^8.69"
OrdinaryDiffEq = "^6.55
Reexport = "1"
StaticArrays = "^1.6"

[extras]
AstrodynamicalCalculations = "c0cf9fb7-f496-4999-a425-c50785d1b88b"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test", "AstrodynamicalCalculations"]
