name = "GeneralAstrodynamics"
uuid = "8068df5b-8501-4530-bd82-d24d3c9619db"
version = "0.11.0"
authors = ["Joey Carpinelli <joey@loopy.codes>"]

[workspace]
projects = ["docs", "test", "lib/AstrodynamicalCalculations", "lib/AstrodynamicalModels", "lib/AstrodynamicalSolvers"]

[deps]
AstrodynamicalCalculations = "c0cf9fb7-f496-4999-a425-c50785d1b88b"
AstrodynamicalModels = "4282b555-f590-4262-b575-3e516e1493a7"
AstrodynamicalSolvers = "636ee813-9c9e-4a0a-af07-88b3043dcb77"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
EphemerisSources = "858900df-f7ae-402a-aa8c-3e4ef85aa271"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SPICE = "5bab7191-041a-5c2e-a744-024b9c3a5062"

[compat]
AstrodynamicalCalculations = "0.5, 1"
AstrodynamicalModels = "3.4, 3.8"
AstrodynamicalSolvers = "0.5, 1"
DocStringExtensions = "0.9"
EphemerisSources = "1.0.0"
Reexport = "1.2"
SPICE = "0.2"
julia = "1.10"
